<Layouts.app flash={@flash} current_user={@current_user}>
  <.header>
    Editer le revenu {@income.id}
  </.header>

  <.income_form
    form={@form}
    action={~p"/incomes/#{@income}"}
    return_to={~p"/incomes"}
    current_user={@current_user}
  />
</Layouts.app>
