<Layouts.app flash={@flash}>
  <.header>
    Editer le revenu {@income.id}
  </.header>

  <.income_form
    form={@form}
    action={~p"/incomes/#{@income}"}
    return_to={~p"/incomes"}
  />
</Layouts.app>
