<Layouts.app flash={@flash} current_user={@current_user}>
  <.header>
    Nouveau revenu
  </.header>

  <.income_form
    form={@form}
    action={~p"/incomes"}
    return_to={~p"/incomes"}
    current_user={@current_user}
  />
</Layouts.app>
