<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Editer la dépense {@expense.id}
  </.header>

  <.expense_form
    form={@form}
    action={~p"/expenses/#{@expense}"}
    return_to={~p"/expenses"}
    category_options={@category_options}
  />
</Layouts.app>
