<Layouts.app flash={@flash} current_user={@current_user}>
  <.header>
    Nouvelle dépense
  </.header>

  <.expense_form
    form={@form}
    action={~p"/expenses"}
    return_to={~p"/expenses"}
    category_options={@category_options}
    current_user={@current_user}
  />
</Layouts.app>
