<Layouts.app flash={@flash}>
  <.header>
    Nouvelle dépense
  </.header>

  <.expense_form
    form={@form}
    action={~p"/expenses"}
    return_to={~p"/expenses"}
    category_options={@category_options}
  />
</Layouts.app>
