<Layouts.app flash={@flash}>
  <.header>
    Nouvelle catégorie
  </.header>

  <.expense_category_form
    form={@form}
    action={~p"/categories"}
    return_to={~p"/categories"}
  />
</Layouts.app>
