<Layouts.app flash={@flash}>
  <.header>
    New category
    <:subtitle>Use this form to manage expense categories in your database.</:subtitle>
  </.header>

  <.expense_category_form
    form={@form}
    action={~p"/categories"}
    return_to={~p"/categories"}
  />
</Layouts.app>
