<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    {@category.name}
    <:actions>
      <.button navigate={~p"/categories"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/categories/#{@category}/edit"}>
        <.icon name="hero-pencil-square" /> Modifier la catégorie
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Name">{@category.name}</:item>
  </.list>
</Layouts.app>
